<header>
    <h1><a href="/"></a>CMS</h1>
    <nav>
        <a href="/createBlog">Add Blog</a>
        <a href="/home">Add home</a>
        <a href="/login">Login</a>
        <a href="/Register">Register</a>
    </nav>
</header>