<header>
    <h1><a href="/" style="color:white"></a>CMS</h1>
    <nav>
        <a href="/createBlog">Add Blog</a>
        <a href="/login">Login</a>
        <a href="/Register">Register</a>
        <a href="/myblogs">My Blogs</a>
    </nav>
</header>